.aboutBox {
    display: flex;
    flex-direction: column;
}

    .aboutBox section {
        display: flex;
        flex-direction: column;
    }
        div h1 {
            text-align: center;
            font-size: 2em;
            color: blueviolet;
        }

        .aboutBox section figure {
            width: 90%;
        }
        .aboutBox section figure img {
            width: 100%;
        }